@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

body {
    font-family: 'Droid Sans', sans-serif;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 500%;
}

h2 {
    font-size: 150%;
}

.button-wrapper {
    margin-bottom: 7px;
}

.accordion-heading {
    cursor: pointer;
}

textarea {
    resize: none;
}

.note {
    font-style: italic;
    margin-top: .6em;
}

@media (min-width: 768px) {
    body {
        background-color: #f5f5f5;
    }

    .container {
        width: 80%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        background-color: white;
    }
}

@media (max-width: 768px) {
    .helperlabel {
        margin-left: 1.5em;
        padding-top: .5em;
        font-size: small;
    }

    h1 {
        font-size: 400%;
        text-align: center;
    }
}

@media (min-width: 1440px) {
    h1 {
        padding-top: .3em;
    }
}
